{% extends "userpage.html" %}

{% block content %}

<h1>Hello and Thank You for Participating!</h1>

<p>Before you arrive at the XDATA Experiment Dashboard you should know more about what you’ll be asked to do, and how to do it. We will walk you through some of the things you’ll need to know.</p>

<p>The purpose of this experiment is to determine how certain kinds of software user interfaces (analytic tools) affect analytic reasoning in the context of very large data sets—BIG data sets like social media, transportation data, and financial data, and others.</p> 

<p>You’ll be asked to complete a number of tasks, in a specific sequence, using one of the analytic tools we’re testing. After reviewing these instructions, you’ll have access to the XDATA Experiment Dashboard. This dashboard will give you access to all tasks, in the correct order—you won’t be able to complete tasks out of order. These tasks include:</p>

<h4>Intake Questionnaire</h4>
<p>The first of your research tasks is a comprehensive intake questionnaire—this will ask you many questions regarding you expertise, education, background, as well as questions about how you approach complex analytic questions—we will even ask you to complete a few analytic problem solving questions as part of the intake. You can return to the intake at any time if you can’t complete it in one sitting, but please try to complete it.</p>

<p>Once you’ve completed the Intake questionnaire, you’ll have access to the XDATA Experiment Dashboard, which has a number of features: </p>

<h4>Analytic Tasks</h4>
<p>Analytic, or “operational tasks”, will require you to make sense of the data you’re given, with the analytic tool you’re provided. Note that these tools perform best in the Google Chrome browser. You’ll be asked select questions about various entities (persons, places, things, and patterns!) within the data. Your job is to do your best to answer these questions correctly in the time allotted. You’ll start with two analytic tasks (more tasks may be available at a later date). We will give you special instructions for how to interface with these tasks and the software you will use to complete them.</p>

<h4>Post-Task Surveys</h4>
<p>Following each of the two analytic tasks, you’ll be diverted to a short post-task survey that will ask about you about your experiences in the previous task. </p>

<h4>Comments</h4>
<p>Following your second analytic task and post-task, you’ll tracked in to a comments form that will allow you to tell us about your experience in your own words. Once submitted these comments will be immediately visible to the developers that built the application you used—help us make these applications better by providing constructive comments about your experience!</p>

<h4>Completing Your Tasks</h4>
<p>Once you have completed your tasks, you will have the option to keep participating. If you are completing this study as a Mechanical Turk Worker, you will be provided a survey completion code at this time.</p>

<!-- <h4>Achievements</h4><p>As you complete tasks, and complete them correctly, you will unlock achievements. Additionally, if you complete all tasks, you will be allowed to come back for Free Play: you can choose different combinations of tasks and software and explore them at your leisure. Your performance on additional tasks associated with these other tools and datasets will count toward achievements, too!</p> -->

<br>
<form id="exp_inst_complete" method="get" action="{% url 'op_tasks:instruct' read='experiment' %}">
	{% csrf_token %}
	<button class="btn btn-success btn-lg btn-block" type="submit">
		I have read and I understand this information
	</button>
</form>
{% endblock %}
