{% extends "page.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}

<h4>Thank you for participating, you have completed all analytic tasks!</h4>

<p>If you are interested in future study components or engagement with analytic tools, we will contact you if you indicated such interest in the intake questionnaire.</p>

<p>The purpose of this research is not only to improve open-source big data analytic applications, but also to understand how future applications should be developed. For example, we are interested in whether specific configurations of analytic tools—user interfaces, analytics, etc.—are better for reducing user workload and increasing task performance during analytic tasks. In addition to the questionnaires you answer, we also collect real-time data about how you are using the tools and analyze that data. From that data we can develop mathematical models for how well you have learned to use the analytic tools’ functionality. From these models we can better understand how software design and user interface configuration contributes to user workload and performance. </p>

<p>If you are interested in working on developing these analytic tools, which are free and open source, please return to <a href="http://www.xdataonline.com/">XDATA Online</a> to explore DARPA's <a href="http://www.darpa.mil/opencatalog/XDATA.html">Open Catalog</a>, the applications you used, and datasets!</p>

{% endblock %}
