{% extends "page.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}

<h4>Thank you for participating!</h4>
<p>If you are interested in future study components or engagement with analytic tools, 
	we will contact you if you indicated such interest in the intake questionnaire.</p>
<p>If you are interested in working on developing these analytic tools, which are free 
	and open source, please see the DARPA <a href="http://www.darpa.mil/opencatalog/XDATA.html">open catalogue</a> </p>

{% endblock %}
