{% extends "page.html" %}
{% block head %}
{% endblock %}
{% block content %}

<h1>Instructions Home</h1>

<div class="instructions" >
  <a href="/op_tasks/experiment_instructions">
    <h3>
      <span class="glyphicon glyphicon-book"></span>
      Click here to review instructional materials for the experiment
    </h3>
  </a>
</div>

<div class="instructions" >
  <a href="/op_tasks/portal_instructions">
    <h3>
      <span class="glyphicon glyphicon-book"></span>
      Click here to review instructional materials for this portal
    </h3>
  </a>
</div>

<div class="instructions" >
  <a href="/op_tasks/product_instructions">
    <h3>
      <span class="glyphicon glyphicon-book"></span>
      Click here to review instructional materials for {{product.name}}
    </h3>
  </a>
</div>

{% endblock %}