{% extends "page.html" %}
{% block head %}
{% endblock %}
{% block content %}

<h1>Instructions Home</h1>

<div class="instructions" >
  <a href="/op_tasks/experiment_instructions">
    <h3>
      {% if not user.userprofile.exp_inst_complete %}
        <div class="task-current">
          <span class="glyphicon glyphicon-unchecked"></span>
          Experiment Information and Instructions
        </div>
      {% elif user.userprofile.exp_inst_complete %}
        <span class="glyphicon glyphicon-check"></span>
        Experiment Information and Instructions
      {% endif %}
    </h3>
  </a>
</div>

<div class="instructions" >
  <a href="/op_tasks/portal_instructions">
    <h3>
      {% if not user.userprofile.portal_inst_complete %}
        <div class="task-current">
          <span class="glyphicon glyphicon-unchecked"></span>
          Portal Guide
        </div>
      {% elif user.userprofile.portal_inst_complete %}
        <span class="glyphicon glyphicon-check"></span>
        Portal Guide
      {% endif %}
    </h3>
  </a>
</div>

<div class="instructions" >
  <a href="/op_tasks/product_instructions">
    <h3>
      {% if not user.userprofile.task_inst_complete %}
        <div class="task-current">
          <span class="glyphicon glyphicon-unchecked"></span>
          {{product.name}} Information and Instructions
        </div>
      {% elif user.userprofile.task_inst_complete %}
        <span class="glyphicon glyphicon-check"></span>
        {{product.name}} Information and Instructions
      {% endif %}
    </h3>
  </a>
</div>

{% endblock %}