{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/product.css" %}">
{% endblock %}
{% block body %}
<!-- Hosted product from XDATA team -->
<div id="content">
  <iframe id="iframe" width="100%" height="100%" frameborder="0" src="{{product_url}}"></iframe>
</div>

<!-- OT menu for access to task questions -->
<div id="ot_menu" class="ot-show">
  <div class="open-close" onclick="toggle();">
    <span class="glyphicon glyphicon-chevron-down"></span>
    Task Menu
  </div>
  
  <div class="ot-container">
    <button class="btn btn-primary ot-open-btn" data-toggle="modal" data-target="#myModal">
      Open Task
    </button>
    <div class="timer">
      <div class="time"><span id="minutes"></span>:<span id="seconds"></span></div>
      <p>until task end</p>
    </div>
    <!-- calls product in views.py -->
    <form id="task-complete" method="post" action="{% url 'op_tasks:product' 1 %}">
      {% csrf_token %}
      <button class="btn btn-danger ot-open-btn" type="submit">
        Quit Task
      </button>
    </form>
  </div>
</div>

<!-- Modal dialog for OT form -->
<!-- why is scope not a problem here? -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hide="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="surveyMonkeyInfo">
          <div>
           <iframe src="{{op_task.survey_url}}?sid={{user.user_hash}}" width="900" height="500"> </iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          Hide Task Form
        </button>
      </div>
    </div>
  </div>
</div>

<!-- javascript functions for the timer redirect OT menu -->
<script src="{% static "javascript/product.js" %}"></script>
<div id="timerdiv">
  <form id="timerblock">
    {% csrf_token %}
    <script>
      var redirect = function(url, method) {
      var form = document.getElementById('timerblock');
      form.method = method;
      form.action = url;
      form.submit();
      };

      setTimeout('redirect("{% url 'op_tasks:product' 1 %}", "post")', 1000*60*30);
    </script>
  </form>
{% endblock %}


