{% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<!-- Hosted product from XDATA team -->
<div id="content">
  <iframe id="iframe" width="100%" height="100%" frameborder="0" src="{{product_url}}"></iframe>
</div>

<!-- OT menu for access to task questions -->
<div id="ot_menu" class="show container">
  <img id="arrow" class="opaque" onclick="toggle('ot_menu');" src="//10.1.93.239:8081/static/images/arrowdown.png">
  <h4>Task Menu</h4>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Open Task Form
  </button>
  <p class="timer"><span id="minutes"></span>:<span id="seconds"></span> until task end</p>
  <!-- calls product in views.py -->
  <form id="task-complete" method="post" action="{% url 'op_tasks:product' 1 %}">
    {% csrf_token %}
    <button class="btn btn-success btn-lg" type="submit">
      Exit Task
    </button>
  </form>
</div>

<!-- Modal dialog for OT form -->
<!-- why is scope not a problem here? -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hide="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="surveyMonkeyInfo">
          <div>
           <iframe src="{{op_task.survey_url}}?sid={{user.user_hash}}" width="900" height="500"> </iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          Hide Task Form
        </button>
      </div>
    </div>
  </div>
</div>

<!-- javascript functions for the timer redirect OT menu -->
<script src="//10.1.93.239:8081/static/javascript/product.js"></script>
<div id="timerdiv">
  <form id="timerblock">
    {% csrf_token %}
    <script>
      var redirect = function(url, method) {
      var form = document.getElementById('timerblock');
      form.method = method;
      form.action = url;
      form.submit();
      };

      setTimeout('redirect("{% url 'op_tasks:product' 1 %}", "post")', 1000*60*30);
    </script>
  </form>
{% endblock %}


