{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="http://dcrlinuxvm/drop/draper.activity_logger-2.1.0.js"></script>
<script>
  var ac = new activityLogger().echo(true).testing(true);

  ac.registerActivityLogger('blah','','');
</script>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  #content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
  }
  #draper-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: white;
    z-index: 1000;
  }
  #popup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #ddd;
    z-index: 999;
  }
  #popup:hover {
    border-top: 15px solid #aaa;
    height: 20px;
  }
  #draper-overlay.hidden {
    height: 150px;
    display: none;
  }
  .oe-close {
    border-top: 1px solid #aaa;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-bottom: 2px;
  }
  .oe-close:hover {
    background-color: #CFCFCF;
  }
  #remTime {
    font-size: 2em;
    color: red;
  }
  .jumbotron {
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }

  .btn {
    padding: 3px 12px;
  }

  #task-complete {
    display: inline-block;
    float: right;
  }
  .modal-dialog {
    width: 950px;
  }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
{% endblock %}
{% block body %}


<div id="content">
  <iframe id="iframe" width="100%" height="100%" frameborder="0" src="{{product_url}}"></iframe>
</div>

<div id="draper-overlay">
  <div class="oe-close">
  </div>
  <div class="container">
  	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Open Task Form</button>
    <div style="display: inline-block; center">Time Remaining: <span class="remTime"></span>
    </div>

    <!-- calls product in views.py -->
    <form id="task-complete" method="post" action="{% url 'op_tasks:product' 1 %}">
      {% csrf_token %}
      Finished with Experiment?
      <button type="submit" class="btn btn-success btn-lg">Exit Task</button>
    </form>
    
  </div>
</div>

<script>

  $(document).ready(function() {
    $('#draper-overlay').data('hidden', false)

    setTimeout(function() {
      $( '#draper-overlay' ).animate({
        height: "2px",
      }, 500, function(){
        $('#draper-overlay').data('hidden', true)
      } );
    }, 6000);

    $('.oe-close').hover(function(d) {
      if ($('#draper-overlay').data('hidden')) {
        $( '#draper-overlay' ).animate({
          height: "10px",
        }, 100)
      }
    });

    $('#draper-overlay').mouseenter(function(d) {
      console.log('cleared Timer')
      clearTimeout($.data(this, 'hoverTimer'));
    });

    $('#draper-overlay').mouseleave(function(d) {
      console.log('timer started')
      $.data(this, 'hoverTimer', setTimeout(function() {
        $( '#draper-overlay' ).animate({
          height: "2px",
        }, 500, function(){
          $('#draper-overlay').data('hidden', true)
        } );
      }, 2000));
    });

    $('.oe-close').click(function(d) {
      if ($('#draper-overlay').data('hidden')) {
        $('#draper-overlay').data('hidden', false);
        $( '#draper-overlay' ).animate({
          height: "50px",
        }, 200)
      } else {
        
        $( '#draper-overlay' ).animate({
          height: "2px",
        }, 500, function() {
          $('#draper-overlay').data('hidden', true);
        })
      }      
    });

    $('#popup').click(function(d) {      
      $( '#draper-overlay' ).animate({
          height: "50px",
        }, 500 );
    })   

    var totTime = 30*60*1000;
    setInterval(function(d) {
      $('.remTime').html(moment(totTime).format('mm:ss'))      
      if (totTime <= 0) {
        // $('#task-complete').submit()
      } else {
        totTime -= 1000;
      }
      
    }, 1000);
  });
	
</script>

<!-- Modal -->
<!-- why is scope not a problem here? -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="surveyMonkeyInfo">
          <div>
           <iframe src="{{op_task.survey_url}}?sid={{user.user_hash}}" width="900" height="700"> </iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button style="float: left;" class="btn btn-primary" data-dismiss="modal">Hide task form</button>
        <button id="quesComplete" style="float: right;" class="btn btn-success">Mark question complete</button>
      </div>

      <script>
        $('#quesComplete').click(function() {
          ac.logUserActivity('questionComplete', '', '999')
        })
      </script>
    </div>
  </div>
</div>
{% endblock %}