{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}

<div class="head" onunload="close_instructions()">
	<h1>{{tasklistitem.op_task.name}}</h1>
	<h3>
		Please read all of these instructions before clicking any buttons!
	</h3>
	<h4>
		Click the button below to view instructions for {{tasklistitem.product.name}}.  After you have read the instructions, the button below to begin your task will be enabled.  
	</h4>
	<button id="instructions_button" onclick="open_instructions();" class="btn btn-lg btn-warning">
		Instructions
	</button>
	<h4>
		Click the blue button in the Task Menu below to launch {{ tasklistitem.product.name }} when ready
	</h4>
	<h4>
		Click the red button in the Task Menu below when you have completed your task
	</h4>
	<h4>
		Please click the green button below to begin your task.  This will load the task in this page and you will have {{tasklistitem.userprofile.experiment.task_length}} minutes to answer all questions.  
	</h4>
	<button id="open_task_button" onclick="task_launch();" class="btn btn-lg btn-success">
		Begin Task
	</button>
</div>

<script>
task_button = document.getElementById("open_task_button");
task_button.disabled = true;

function open_instructions() {
	task_button.disabled = false;
	parent.instructions_tab = window.open("{{tasklistitem.product.instructions}}", '_blank');
}

function task_launch() {
	window.location.assign("{{ tasklistitem.op_task.survey_url }}?sid={{ user.userprofile.user_hash }}::{{ tasklistitem.pk }}");
	return parent.start_timer();
}

</script>

{% endblock %}