{% extends "page.html" %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Intake Survey</h1>
<div class="list-group-text">
  <a href="#" class="list-group-item list-group-item" data-toggle="modal" data-target="#intake">
  <!-- <div class="list-group-item list-group-item-info"> -->
      <h4 class="list-group-item-heading">Intake Survey for {{user}}</h4>
      <p class="list-group-item-text">Please consult the experiment administrator if you have not completed your intake survey</p>
  <!-- </div> -->
  </a>
</div>

<h1>Instructional Material</h1>
<div class="list-group-text">
  <a href="{{user.product.instructions}}" class="list-group-item">
    <p>Please read this before attempting the operational task below.</p>
    <p>Please use your browser's back button to return to this page.</p>
    <p>You will only be able to access these instructions before the start of each task.</p>
  </a>
</div>


<h1>Operational Tasks</h1>
<div class="list-group-text">
  {% for seq in user.sequence_set.all %}
    {% if seq.ot_active %}
      <!-- <div class="list-active"> -->
        <a href="{% url 'op_tasks:product' seq_pk=seq.pk %}" class="list-group-item">
          <h4>{{forloop.counter}}: {{seq.op_task.name}} - {{seq.op_task.dataset.name}}</h4>
          <p>This is your current Operational task</p>
        </a>
      <!-- </div> -->
    {% elif seq.ot_complete %}
      <div class="list-group-item list-group-item-success">
        <span class="pull-right glyphicon glyphicon-ok"></span>
        <h4 class="list-group-item-heading">{{forloop.counter}}: {{seq.op_task.name}} - {{seq.op_task.dataset.name}}</h4>
        <p class="list-group-item-text">This Operational Task is complete</p>
      </div>
    {% else %}
      <div class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">{{forloop.counter}}: {{seq.op_task.name}} - {{seq.op_task.dataset.name}}</h4>
        <p class="list-group-item-text">This task will become available later.</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h1>Exit Surveys</h1>
<div class="list-group-text">
  {% for seq in user.sequence_set.all %}
    {% if seq.exit_active %}
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#exit">
      <h4 class="list-group-item-heading">{{forloop.counter}}: {{seq.op_task.name}} - {{seq.op_task.dataset.name}}</h4>
      <p>Please complete this exit survey before proceeding to the next task</p> </a>
    <!-- Modal window -->
    <!-- exit survey popup -->
    <div class="modal fade" id="exit" tabindex="-1" role="dialog" aria-labelledby="intake" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div id="surveyMonkeyInfo">
              <div>
                <iframe src="{{seq.op_task.exit_url}}?{{user.user_hash}}" width="950" height="700"></iframe>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button type="button" style="float: left;" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            <div>
              <form id="exit-survey-complete" method="post" action="{% url 'op_tasks:product' 1 %}">{% csrf_token %}
                <button type="submit" style="float: right;" class="btn btn-success">Submit survey</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% elif seq.exit_complete %}
    <div class="list-group-item list-group-item-success">
      <span class="pull-right glyphicon glyphicon-ok"></span>
      <h4 class="list-group-item-heading">{{forloop.counter}}: {{seq.op_task.name}} - {{seq.op_task.dataset.name}}</h4>
      <p class="list-group-item-text">This survey is complete</p>
    </div>
    {% else %}
    <div class="list-group-item list-group-item-info">
      <h4 class="list-group-item-heading">{{forloop.counter}}: {{seq.op_task.name}} - {{seq.op_task.dataset.name}}</h4>
      <p class="list-group-item-text">This survey link will become active after you complete the OT</p>
    </div>
    {% endif %}
  {% endfor %}
</div>

<!-- Modal -->
<!-- Example code at http://codepen.io/SitePoint/pen/KkHyw?editors=100 -->

<!-- intake survey popup -->
<div class="modal fade" id="intake" tabindex="-1" role="dialog" aria-labelledby="intake" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="surveyMonkeyInfo">
          <div>
            <iframe src="https://www.surveymonkey.com/s/J89LMDK?sid={{user.user_hash}}" width="700" height="700"></iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit survey</button>        
      </div>
    </div>
  </div>
</div>
{% endblock %}

