{% extends "main.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block header %}
  <div id="header-navbar">
    Signed in as {{user.username}} | <a class="header-navbar-link" href="{% url 'op_tasks:logout' %}">Sign Out</a>
  </div>
{% endblock %}
{% block container %}

<div class="head" onunload="close_instructions()">
	<h1>{{tasklistitem.op_task.name}}</h1>
	<h4>
		Please read all of these instructions before clicking any buttons!
	</h4>
	<p>
		First, you’ll need view instructions for the {{tasklistitem.product.name}} analytic tool, by clicking on the “Instructions” button below. This will open a separate browser page where instructions are hosted. You may spend as much time as you like viewing instructional materials (either documents or videos), and this page will remain active throughout your tasks.
	</p>
	<button id="instructions_button" onclick="open_instructions();" class="btn btn-lg btn-warning">
		Instructions
	</button>
	<p>
		Second, when you are ready to open {{ tasklistitem.product.name }}, click the blue "open {{ tasklistitem.product.name }}" button in the Task Menu below (bottom left). This will launch the {{ tasklistitem.product.name }} tool in a separate browser page. If you accidently close the page, you can always click the blue button again to return to the application.
	</p>
	<p>
		Third, when you are ready to begin the task itself, please click the green “begin task” button below. This will load the task in this page and your  {{tasklistitem.userprofile.experiment.task_length}} minute timer will begin counting down. If you run out of time before you finish the task, you’ll automatically be sent back to your task list. If you leave the task or quit the task before you feel you have completed it, you will not return to the task. Please complete the task in one sitting.
	</p>
	<button id="open_task_button" onclick="task_launch();" class="btn btn-lg btn-success">
		Begin Task
	</button>
  <p>
    If you complete your task before the timer runs out, please click the red button in the Task Menu below. This will return you to your task list.
  </p>
</div>

<script>
task_button = document.getElementById("open_task_button");
task_button.disabled = true;

function open_instructions() {
	task_button.disabled = false;
	parent.instructions_tab = window.open("{{tasklistitem.product.instructions}}", '_blank');
	parent.product_button.disabled = false;
}

function task_launch() {
	window.location.assign("{{ tasklistitem.op_task.survey_url }}?sid={{ user.userprofile.user_hash }}::{{ tasklistitem.pk }}");
	
	// Instantiate User ALE connection
	// TODO: we may want to do this in a more global place in the future? Right now
	// we're just adding a single instrumentation message so this is fine.
	var ale = new userale({
	    loggingUrl: '{{ userAleUrl }}', //The url of the User-ALE logging server.
	    toolName: 'STOUT', //The name of your tool
	    toolVersion: '3.0', //The semantic version of your tool
	    elementGroups: [ //A list of element groups used in your tool (see below)
	      'page'
	    ],
	    workerUrl: "{% static 'javascript/userale-worker.js' %}", //The location of the User-ALE webworker file
	    debug: true, //Whether to log messages to console
	    sendLogs: true //Whether or not to send logs to the server (useful during testing)
	});
	ale.register();
	
	// Create the User ALE message and send to instrument the time the user started the task
	var msg = { activity: 'perform',
		      action: 'CLICK',
		      elementId: 'open_task_button',
		      elementType: 'button',
		      elementGroup: 'page',
		      //elementSub: 'handle',
		      source: 'user',
		      tags: ['timing', 'tasking']
		    };
	ale.log(msg);
	
	return parent.start_timer();
}

</script>

{% endblock %}
