{% extends "page.html" %}

{% block side_block %}
  <!-- {% if user.userprofile.experiment.has_achievements %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <b class="panel-title">Achievements</b>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Achievement 1</h4>
        </div>
        <div class="media-right">
          <a href="#">
            <img class="media-object" src="/static/images/Colonel_Grade_3.png" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %} -->
{% endblock %}
