body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  background-color: #eee;
  /*overflow: closed;*/
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
}



#tab {
  /*float:left;*/
  list-style:none outside none;
  margin:0;
  padding:0;
  /*position:relative;*/
  z-index:999
}

#tab li span {
  display: block;
  /*padding: 0 5px;*/
  position: relative;
}




#arrow {
  cursor: pointer;
}

/*.opaque {
  opacity: 0.4;
  filter: alpha(opacity=40);
}*/

.btn {
  margin: 2px;
}



.modal-dialog {
  width: 940px;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.head {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.signin {
  text-align: center;
} 

.head h1{
  font-size: 63px;
} 

.register {
  margin-top: 40px;
  margin-bottom: 40px;
}

div.list-group-item.list-group-item-disabled {
  color: #949494;
  background-color: #D8D8D8;
}

.ot-list-item {
  position: relative;
  display: block;
  
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.ot-list-item > div {
  padding: 10px 15px;
}

.ot-task-exit {
  float: right;
  border-left: 1px solid #ddd;
}

.ot-task-name {
  float: left;
}

.ot-task-name .heading {
  color: #333;
  font-size: 18px;
}

table.ot-list {
  background-color: white;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none; 
}

tr.ot-disabled {
background-color: #F3F3F3;
color: #aaa;
}

div.status {
  margin: 10px 10px 0 0;
  font-size: 40px;
}


td.status {
  /*padding-top: 30px !important;*/
  vertical-align: middle !important;
  font-size: 20px;
  width: 30px;
}

.ot-current {
  color: #54A81C;
}

.ot-current a{
  color: #54A81C;
}

.ot-current a:hover {
  color: #2A530F;
}

.disabled {
color: #aaa;
}

div.product-instructions {
  margin: 10px 15px;
}

div.product-instructions a{
  color: #666;
}

div.product-instructions a:hover{
  color: #000;
}

div.product-instructions .glyphicon{
  margin-right: 5px;
}
