{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>XDATA | Online Experiment</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>