{% extends "main.html" %}
{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> -->

<!-- The following is the XDATA Google Anlaytics tracking code. -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
{ (i[r].q=i[r].q||[]).push(arguments)}
,i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-70247058-1', 'auto');
ga('send', 'pageview');
</script>

{% endblock %}

{% block body %}
<!-- <div class="container"> -->
	{% block container %}
		<div class='pane'>
      <div id='landing-header'>
				<div id='landing-container'>
        	<div id='landing-title'>WELCOME TO THE XDATA EVALUATION ENVIRONMENT</div>
  				<div id='landing-subtitle'>Thank you for participating in our online user testing session and helping us model user workflow through analysis of your activities</div>
				</div>
			</div>
			<div id='landing-login'>
      	<div id="landing-register">
        	<h2>New Participant?</h2>
        	<a class="btn-bordered" id="landing-button" href="#recruitment" role="button">LEARN MORE</a>
      	</div>
      	<div id="landing-signin">
        	<h3>Already Registered? <a href="{% url 'op_tasks:login' %}">Sign in</a></h3>
      	</div>
			</div>
		</div>

		<div class="pane">
			<div id="recruitment-header">
				<a name="recruitment"></a>
				<div id="recruitment-header-container">
					<div id="recruitment-title">
						<b>THANK YOU</b> for your interest in the XDATA research study!
					</div>
				</div>
			</div>
			<div id="recruitment-info-container">
				<div id="recruitment-text">
      					<h4>Call for Research Participants</h4>
					<p>The purpose of this study is to determine whether certain kinds of interfaces and analytic tools affect your analytic workflow. This study is funded by the Defense Advanced Research Projects Agency. Your participation will include providing information about your basic demographics, personality, analytic abilities via online questionnaire. This will be followed by a testing session to be completed at your convenience through our online testing portal. During the testing session, you will be asked to participate in a variety of tasks, questionnaires and cognitive tests, as well as interactive tasks on a computer.</p>

					<h4>Eligibility Information</h4>
					<p>Participation in this research is open to any persons older than 18 years of age, that are not incarcerated (i.e., prisoners) or a member of another legally protected population (i.e., intellectually handicapped, children, etc.), with the exception of pregnant women (the procedures and materials used in this study do not limit the participation of pregnant women). </p>

					<h4>Additional Study Details</h4>
					<p><em>Study Duration:</em>  Your participation in this study can involve up to 2 hours of your time: approximately 30-60 minutes to fill out online questionnaires, and between 60-90 minutes as you engage in online analytic tasks. Additional follow-up tasks with similar content may be solicited, with your permission. Each of these are estimated to take between 60-90 minutes.</p>

					<p><em>Participant Involvement:</em>  Participation involves both completion of the online questionnaires and online tasks, which involve using next generation analytic tools to solve difficult analytic problems using complex data sources. However, participation in the online questionnaires neither obligates you to participate in online analytic tasks nor guarantees that you will be invited for follow up tasks. You are free to participate through a variety of methods:</p>

					<ul>					
					<li><p>&#x2022; As a university student: a member of a course or department that allows you participate in this research (specifically) for course credit. (Find the study at <a href="http://xdataonline.com">http://xdataonline.com</a>)</p></li>
					<li><p>&#x2022; A member of the general public (Find the study at <a href="http://xdataonline.com">http://xdataonline.com</a>)</p></li>
					<li><p>&#x2022; A member of a Panel Service (such as Mechanical Turk “workers”, or similar) may participate through their respective services. (Find “XDATA Online Testing” on Mechanical Turk!)</p></li>
					</ul>

					<p>You may participate through any 1 of the aforementioned methods.</p>

					<p><em>Compensation:</em>  Participation is strictly voluntary. Compensation varies based on the circumstances of participants.</p>
					<ul>
					<li><p>&#x2022; Student participants being recruited from universities with appropriate protocols in place may be eligible for course/research credit commensurate with their participation as per their institution’s guidelines.</p></li>
					<li><p>&#x2022; The General Public will be eligible for monetary prizes based on their performance on tasks with software tools. Once every six months, task performance will be tabulated and the participants with the best performance on tasks for each software tool will be awarded a $250 prize. Participant may enroll to perform tasks in multiple software tools and will be eligible for up to 4 awards of $250 in a calendar year.</p></li>
					<li><p>&#x2022; Panel Service participants recruited through Mechanical Turk (and/or similar services) will be compensated $15 for their participation.</p></li>
					</ul>

					<p><b>To register as a participant or just to learn more about this unique research opportunity, please click on the “Register” link below.</b> This will forward you to our Online Consent Form. If you acknowledge the terms in the consent form, you can register a unique, but anonymous username that will be used to keep track of your data. If, after visiting our website, you have additional questions and concerns, please contact us at <a href="mailto:software-evaluation@draper.com">software-evaluation@draper.com</a>.</p>

      		<p>Thank you in advance for your interest and consideration!</p>

      		<p>Dr. Joshua C. Poore (Principal Investigator)
      		<br>Senior Member of the Technical Staff
      		<br>The Charles Stark Draper Laboratory
      		<br>555 Technology Square, Rm. 2242
      		<br>Cambridge, MA 02139-3563
      		<br>Email: <a href="mailto:software-evaluation@draper.com">software-evaluation@draper.com</a></p>

					<a class="btn-bordered" id="landing-button" href="{% url 'op_tasks:intro' process='register' %}" role="button">REGISTER</a>
				</div>
			</div>
    </div>
  {% endblock %}
<!-- </div> -->
{% endblock %}
