{% extends "main.html" %}

{% block head %}
 <!-- <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> -->
{% endblock %}

{% block container %}
  <section>
  	<h1 align="center"><b>Login to XDATA's Online Experiment</b></h1>
    <form class="form-signin" id="login_form" method="post" action="/op_tasks/login/">
      {% csrf_token %}
      <h4 class="form-signin-heading">Please sign in</h4>
      <input class="form-control" name="username" value="" placeholder="Username" required autofocus/>
      <input class="form-control" type="password" name="password" value="" placeholder="Password" required/>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Sign in</button>
    </form>
  </section>
{% endblock %}