{% extends "main.html" %}

{% block container %}
<h1>Registration</h1>
<h2>Create an account</h2>

	{% if registered %}
	<strong>thank you for registering!</strong>
	{% else %}

	<form id="user_form" method="post" action="/op_tasks/register/" enctype="multipart/form-data">
		{% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
        (<p>) element. This ensures each element appears on a new line, making everything look neater. -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}

{% endblock %}