<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
{% extends "experimentpage.html" %}

{% block content %}

<h1>Add Tasks for Participant:</h1>
<h3>{{ userprofile.user.username }} has {{userprofile.tasklistitem_set.count}} tasks</h3>

<div class="col-md-15">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Challenge Problem</th>
			<th>Product</th>
			<th>Task</th>
			<th>Add</th>
		</tr>
	</thead>
	<tbody>
		{% for dataset in datasets %}
			{% for product in dataset.product_set.all %}
				{% for task in dataset.optask_set.all %}
					<tr>
						<td>{{ dataset.name }}</td>
						<td>{{ product.name }}</td>
						<td>{{ task.name }}</td>
						<td><a class="btn btn-default btn-lg" 
							href="{% url 'exp_portal:update_user_tasks' userpk=userprofile.id datasetpk=dataset.id productpk=product.id taskpk=task.id %}">
							Add Task</button>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</tbody>
</table>

{% endblock %}