{% extends "page.html" %}

{% block side_block %}

<div class="panel panel-default">
  <div class="panel-heading">
    <b class="panel-title">
      Navigation
      <span class="label label-warning">Beta</span>
    </b>
  </div>
  <div class="panel-body">
  	<a href="{% url 'exp_portal:home' %}">Experiment Portal Home</a><br>
    <a href="{% url 'exp_portal:view_status' %}">Experiment status</a><br>
    <a href="{% url 'exp_portal:manage_exps' %}">Manage Experiments</a><br>
    <a href="{% url 'exp_portal:manage_datasets' %}">Manage Datasets</a><br>
    <a href="{% url 'exp_portal:manage_tasks' %}">Manage Tasks</a><br>
    <a href="{% url 'exp_portal:manage_products' %}">Manage Products</a><br>
    <a href="{% url 'exp_portal:manage_users' %}">Manage Users</a><br>
    <a href="{% url 'exp_portal:send_email' %}">Send Email</a>
  </div>
</div>

{% endblock %}