{% extends "page.html" %}
{% block head %}
{% endblock %}
{% block content %}

<h1>Experiment Status</h1>
<div class="col-md-5">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Item</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<a href="/exp_portal/users">Registered Users</a>
			</td>
			<td>{{ participants.count }}</td>
		</tr>
		<tr>
			<td>
				<a href="/exp_portal/products">Products</a>
			</td>
			<td>{{products.count}}</td>
		</tr>
		<tr>
			<td>
				<a href="exp_portal/tasks">Assigned tasks</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="exp_portal/completed">Completed tasks</a>
			</td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}

