<!-- shows the status of "interesting" data about the current experiment -->

{% extends "experimentpage.html" %}

{% block content %}

<h1>Experiment Status</h1>
<div class="col-md-5">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Item</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<a href="{% url 'exp_portal:view_users' %}">Users</a>
			</td>
			<td>{{ userprofiles.count }}</td>
		</tr>
		<tr>
			<td>
				<a href="{% url 'exp_portal:view_products' %}">Products</a>
			</td>
			<td>{{ products.count }}</td>
		</tr>
		<tr>
			<td><a href="{% url 'exp_portal:view_tasks' %}">Operational Tasks</a></td>
			<td>{{ tasks.count }}
		</tr>
		<tr>
			<td><a href="{% url 'exp_portal:view_completed' %}">Completed Tasks</a></td>
			<td>{{ completed_tasks.count }}</td>
		</tr>
		<tr>
			<td><a href="{% url 'exp_portal:view_incomplete' %}">Incomplete Tasks</a></td>
			<td>{{ incomplete_tasks.count }}</td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}

