{% extends "experimentpage.html" %}

{% block content %}

<h1>Participant Tasks</h1>
<h3>Username: {{ userprofile.user.username }}</h3>

<form id="add_task_form" method="get" action="{% url 'exp_portal:add_user_task' userpk=userprofile.id%}">
	{% csrf_token %}
	<button class="btn btn-default btn-lg" type="submit">Add Task</button>
</form>

<div class="col-md-15">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Item</th>
			<th>Task Name</th>
			<th>Product</th>
			<th>Challenge Problem</th>
			<th>Active</th>
			<th>Complete</th>
			<th>Activity Count</th>
		</tr>
	</thead>
	<tbody>
		{% for task in userprofile.tasklistitem_set.all %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ task.op_task.name }}</td>
				<td>{{ task.product.name }}</td>
				<td>{{ task.product.dataset.name }}</td>
				<td>{{ task.task_active }} </td>
				<td>{{ task.task_complete }} </td>
				<td>{{ task.activity_count }} </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}