<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Master Answer Sheet Uploader</title>   
    </head>
    <body>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h3>Folder:</h3>
                <label for="dirName">Exp Name:</label>
                <input type="text" name="dirName">
                <select id="existingExpNames">
                    <option></option>
                    {% for experiment in experiments %}
                    <option>{{ experiment }}</option>
                    }
                    {% endfor %}
                </select>
            </div>
            <p>{{ form.non_field_errors }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html> 