{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Master Answer Sheet Uploader</title>   
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h3>Folder:</h3>
                <label for="dirName">Experiment Name:</label>
                <input type="text" id="dirName" name="dirName">
                <select id="existingExpNames">
                    <option></option>
                    {% for experiment in experiments %}
                        <option value="{{ experiment }}">{{ experiment }}</option>
                    {% endfor %}
                </select>
            </div>
            <p>{{ form.non_field_errors }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
        <script type="text/javascript" src="{% static "javascript/uploads.js" %}"></script>
    </body>
</html> 